@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello There</h1>
    <p><h2>Your IP: @Model.HttpContext.Connection.RemoteIpAddress</h2></p>
    <p><h3>Your User Agent: @Model.HttpContext.Request.Headers.UserAgent</h3></p>
</div>
